extends layout

block content
  script.
    let avaaIkkuna = function() {
      document.getElementById("myPopup").style.display = "block";
    }
    let suljeIkkuna = function() {
      document.getElementById("myPopup").style.display = "none";
    }
  h1= title
  div(class="container")
    div(class="row")
      div(class="col-sm")
        p Syötä tehtävä
        form#formcreatetask(method="post",action="/addtask")
          input#formtask(type="text", placeholder="Tehtävä", name="task" required)
          button#formsubmit(type="submit") Create
      div(class="col-sm")
        ul
          for item in tehtavat
            li
              =item.task
              button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal") Muokkaa
              div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
                div(class="modal-dialog" role="document")
                  div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="exampleModalLabel")=item.task
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden="true") &times;
                    form(method="post" action="/edit" class="popupContainer")      
                      div(class="modal-body")
                        //form(method="post" action="/edit" class="popupContainer")
                        input#otsikko(type="text", placeholder="Tehtävä", name="task")
                        input(type="hidden", name="id", value=item.id)
                      div(class="modal-footer")
                        button(type="button" class="btn btn-secondary") 
                          a(href="http://localhost:3000/delete?id=" + item.id) Poista
                        button(type="submit" class="btn btn-primary") Tallenna
              //div#myPopup(class="edit-popup")
                form(method="post" action="/edit" class="popupContainer")
                  h1 Editoi
                  input#otsikko(type="text", placeholder="Tehtävä", name="task")
                  input(type="hidden", name="id", value=item.id)
                  button(class="btn Cancel" "onclick"="suljeIkkuna()") Sulje
                  button(type="submit" class="btn Edit") Edit
                  button(class="btn Remove")
                    a(href="http://localhost:3000/delete?id=" + item.id) Remove
                button(class="btnOpen" "onclick"="avaaIkkuna()") Muokkaa

      div(class="col-sm")
        p Kolmas palsta
      div(class="col-sm")
        p Neljäs palsta

          

  

