extends layout

block content
  h1(class="otsikko") Tehtävälista
  div(class="container.fluid")
    div(class="row")
      div(class="col-sm col-1")
        h3(class="kolumniotsikko") Syötä tehtävä
        include includes/mainform.pug
      div(class="col-sm col-1")
        h3(class="kolumniotsikko") Tehtävälista
        for item in tulevat
          if item.urgent
            include includes/tulevat2.pug
          else
            include includes/tulevat.pug
      div(class="col-sm col-1")
          h3(class="kolumniotsikko") Kesken
          for item in nykyiset
            if item.urgent
              include includes/nykyiset2.pug
            else 
              include includes/nykyiset.pug
      div(class="col-sm col-1")
        h3(class="kolumniotsikko") Valmiit
        for item in tehdyt
          include includes/valmiit.pug

                
      

          

  

