doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .grid-container
      .col-1
        block content
      .col-2
      .col-3
      .col-4

  
