extends layout

block content
  h1= title
  p Welcome to #{title}
  p T채ll채 sivulla on To Do -lista
  form#formcreatetask(method="post",action="/addtehtava")
    input#formtask(type="text", placeholder="Teht채v채", name="task")
    button#formsubmit(type="submit") Create
  ul
    for item in tehtavat
      li=item.task
