body {
  padding: 50px;
  font: 14px "Fira Sans";
  background-image: url("camera.jpg");
  background-position: left;
  background-size: auto;
  
}
.otsikko {
  font: 200 80px/1.3 'Cormorant Garamond', sans-serif;
  text-align: center;
  color: rgb(247, 237, 218) ;
  opacity: 0.9;
}
.kolumniotsikko {
  font: 200 25px/1.3 'Fira Sans', sans-serif;
  text-align: center;
  color: #4b2c29;
}
.col-1 {
  background: rgb(234, 198, 122, 0.8);
  width: 400px;
  border-radius: 25px;
  margin: 10px;
  min-height: 550px;
}
.mform_inner {
  width: 240px;
  margin: auto;
}

.mform_inner input[type=text] {
  height: 30px;
  color: blue;
}
.mform_inner textarea {
  height: 80px !important;
}
.select_box {
  color: white;
}

input[type=checkbox] {
  margin: 4px 6px 8px 0;
}

.mform_inner input[type=text], .mform_inner textarea {
  border-radius: 5px;
  color:black;
  background-color: white !important;
  width: 100%;
  margin: 10px 0;
  align-content: center;
}

.mform_outer {
  background-color: rgb(75,44,41,0.7);
  border-radius: 15px;
  width: 280px;
  margin: auto;
  padding-top: 25px;
  height: 300px;
  margin-top: 30px;
}

.napukka {
  width: 100%;
  height: 30px;
  background-color: #9e5c48;
  border: none;
  margin: 10px 0px;
  color: white !important;
  border-radius: 5px;
  opacity: 0.8;
}

.buttoni {
  background-color: #984b43;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 13px;
  color: white;
  height: 25px;
}

.buttoni:hover, .napukka:hover {
  opacity: 1;
}

.card {
  margin: 20px auto;
  width: 280px;
}

.korttiotsikko {
  font-size: 18px;
  text-align: left;
}
.korttivartalo {
   font-size: 14px;
   text-align: left;
}
.card-body {
   padding: 5px;
}

.card-footer {
  height: 40px;
  align-content: left;
  padding: 7px !important;
}

.card-body img {
  height: 30px;
  width: 33px;
  float: right;
}
.vaara {
  background-color: #984b43;
  border-radius: 20px;
  border: none;
  width: 22px;
  height: 22px;
  float: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}
.btn-group {
  float: left;
  height: 50px;
  position: relative;
}

.vasen {
  border-radius: 5px 0 0 5px;
}

.oikea {
  border-radius: 0 5px 5px 0;
}
.kaikki {
  border-radius: 5px;
}
