body {
  padding: 50px;
  font: 14px "Fira Sans";
  background-image: url("camera.jpg");
  background-position: left;
  background-size: auto;
  
}
.otsikko {
  font: 200 80px/1.3 'Cormorant Garamond', sans-serif;
  text-align: center;
  color: rgb(250, 231, 196) ;
}
.kolumniotsikko {
  font: 200 25px/1.3 'Fira Sans', sans-serif;
  text-align: center;
  color: #4b2c29;
}
.container {
  display: flex;
  width: 100%;
  background-color: pink;
}
.col-1 {
  background: rgb(234, 198, 122, 0.8);
  width: 400px;
  border-radius: 25px;
  margin: 10px;
  min-height: 550px;
}

.card {
  margin: 20px auto;
  width: 280px;
}

.buttoni {
  background-color: #984b43;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 13px;
  color: white;
  height: 25px;
}

.container.fluid .buttoni:hover, .napukka:hover {
  opacity: 1;
}

.formidivi {
  width: 200px;
  margin: auto;
}

.tuut {
  width: 100%;
  margin: 10px 0;
  align-content: center;
}

.napukka {
  width: 100%;
  height: 30px;
  background-color: #984b43;
  border: none;
  margin: 10px 0px;
  color: white;
  border-radius: 4px;
  opacity: 0.8;
}

.korttiotsikko {
  font-size: 18px;
  text-align: left;
}
.korttivartalo {
   font-size: 14px;
   text-align: left;
}
.card-body {
   padding: 5px;
}

.card-footer {
  height: 40px;
  align-content: left;
  padding: 7px !important;
}

.vaara {
  background-color: #984b43;
  border-radius: 20px;
  border: none;
  width: 22px;
  height: 22px;
  float: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}
.btn-group {
  float: left;
  height: 50px;
  position: relative;
}

.vasen {
  border-radius: 5px 0 0 5px;
}

.oikea {
  border-radius: 0 5px 5px 0;
}
.kaikki {
  border-radius: 5px;
}